<header headline="login.heading" countdown="countdown"></header>

<spinner-global data-ng-if="loading"></spinner-global>

<div class="container">
  <div class="alert alert-danger" role="alert" data-ng-if="invalidLoginErrorMessage === 'login.invalid_login_error'">
    <span class="glyphicon glyphicon-exclamation-sign"
          aria-hidden="true"></span>
    {{ invalidLoginErrorMessage | translate }}
  </div>

  <div class="alert alert-danger" role="alert" data-ng-if="invalidLoginErrorMessage === 'login.invalid_password'">
    <span class="glyphicon glyphicon-exclamation-sign"
          aria-hidden="true"></span>
    {{ invalidLoginErrorMessage | translate }} <br/>
    {{ 'login.attempts_info_one' | translate }} {{ attemptsMax }} {{ 'login.attempts_info_two' | translate }}
  </div>

  <div class="alert alert-danger" role="alert" data-ng-if="invalidLoginErrorMessage === 'login.invalid_login_blocked'">
    <span class="glyphicon glyphicon-exclamation-sign"
          aria-hidden="true"></span>
    {{ invalidLoginErrorMessage | translate }}
  </div>

  <div data-ng-include="'views/login-' + display + '.html'"
       class="login-container"></div>

  <div class="buttons-bottom">
    <button type="button" tabindex="-1" class="btn btn-danger button align-left"
            aria-label="Left Align" data-ng-click="back()"
            analytics-on analytics-category="Login" analytics-event="Back"
            analytics-label="Button Click">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      {{ 'common.back' | translate }}
    </button>
  </div>
</div>
